<div class="home">
  <div class="home--title">
    Guía de contenido de minis en las cajas
  </div>
  <div class="home--container">
    <div class="home--container--body">
      <div class="home--container--body--text">Core Zombies</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1JUR__vxiAJxJB1p8Y7U79jHM5iOng87d?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Core Heroes</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1sKFJ5y541T6VvQKjU-rWjMWJXYDGKa8o?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Strech Box</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1zLWZzn9PkN3VYjp5mxLZfhshOGbAmXWp?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Clash of The Sinister Six</div>

      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1tK4ISexSaQY42Cpkq0zlPNw1K3V5_WMm?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Fantastic Four</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1qy854-LimfMlxsbPt2URzrs43DAf1emK?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Guardians of the Galaxy</div>

      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1IXI4fEmAJsGTXtqSauZgaglhHeKr6gdH?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Hydra Resurrection</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1bhRYOM_-F2VUDS_FILrbwdUva405MHQb?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Sentinel Strike</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/1uQ5vxt7iPdaYSrl27yQjSrba7Q3o3_PC?authuser=0" alt="">
    </div>
    <div class="home--container--body">
      <div class="home--container--body--text">Artist Selection</div>
      <img class="home--container--body--image" src="https://lh3.googleusercontent.com/d/10WglcCh4vwEbX57JHzFPQs1OzTrumxsJ?authuser=0" alt="">
    </div>
  </div>
</div>
